unsigned char test[]=
{
    0x2D, 0x2D, 0x20, 0x54, 0x61, 0x62, 0x6C, 0x65,
    0x3A, 0x20, 0x70, 0x75, 0x62, 0x6C, 0x69, 0x63,
    0x2E, 0x22, 0xE3, 0x81, 0x9D, 0xE3, 0x81, 0x86,
    0xE3, 0x81, 0xA8, 0xE3, 0x81, 0x86, 0xE3, 0x81,
    0x8A, 0xE3, 0x81, 0x8B, 0xE3, 0x81, 0x97, 0xE3,
    0x81, 0x84, 0x22, 0x00, 0xCD, 0xFD, 0xFD, 0xFD,
    0xFD, 0xF0, 0xAD, 0xBA, 0x0D, 0xF0, 0xAD, 0xBA,
    0x0D, 0xF0, 0xAD, 0xBA, 0x0D, 0xF0, 0xAD, 0xBA
};


wxString t1((const char*)test, wxConvUTF8, 0x2b);
wxString t2((const char*)test, wxConvUTF8, wxSTRING_MAXLEN);

if (t1 != t2)
    wxLogError(wxT("Strings don't match: %d != %d."), t1.Length(), wcslen(t1.c_str()));


 	  	 
